# Config Phpstan
parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - Test/
        - Tests/
        - vendor/
        - node_modules/
        - Resources/
    ignoreErrors:
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::.+\(\)#'
            paths:
                - DependencyInjection/Configuration.php
    tmpDir: .phpstan.cache
